{% macro render_conservation_status(plant) %}
	{% if plant.conservationstatus %}
		<div class="statusBlock statusBlock--{{ plant.conservationstatus }}">
			<a href="{{ site.get('/plant-conservationstatuses/'+plant.conservationstatus)|url }}">
				<div class="statusBlock-inner"> {{ site.get('/plant-conservationstatuses/'+plant.conservationstatus).code|upper }}</div>
			</a>
		</div>
	{% else %}
		<div class="statusBlock statusBlock--unknown">
			<div class="statusBlock-inner">?</div>
		</div>
	{% endif %}
{% endmacro %}
