{% macro render_definitions_list(definitions) %}
<div class="page-glossaryListsContainer">
	{% for group in definitions|groupby('char') %}
		<div class="page-glossaryListWrapper">
			<h2 class="page-glossaryChar"><a class="page-glossaryChar-anchor --inheritColour" id="{{ group.grouper|lower }}">{{ group.grouper }}</a></h2>
			<ul class="page-glossaryList">
				{% for d in group.list %}
					<li class="page-glossaryList-item"><a class="page-glossaryList-item-anchor" href="{{ d|url }}">{{ d.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>
{% endmacro %}

{% macro render_quick_links_bar(definitions) %}
	<ul class="page-glossaryQuickLinksBar">
			<li class="page-glossaryQuickLinksBar-item">
				<a class="page-glossaryQuickLinksBar-item-anchor" href="#top">
					<span class="page-glossaryQuickLinksBar-item-anchor-text">
						#
					</span>
				</a>
			</li>
		{% for group in definitions|groupby('char') %}
			<li class="page-glossaryQuickLinksBar-item">
				<a class="page-glossaryQuickLinksBar-item-anchor" href="#{{ group.grouper|lower }}">
					<span class="page-glossaryQuickLinksBar-item-anchor-text">
						{{ group.grouper|upper }}
					</span>
				</a>
			</li>
		{% endfor %}
	</ul>
{% endmacro %}
