{% macro render_hardiness_zone(plant) %}
	{% if plant.hardinesszone %}
		<div class="hardinessBlock hardinessBlock--{{ plant.hardinesszone }}">
			<a href="{{ site.get('/plant-hardinesszones/'+plant.hardinesszone)|url }}">
				<div class="hardinessBlock-inner"> {{plant.hardinesszone }}</div>
			</a>
		</div>
	{% else %}
		<div class="hardinessBlock hardinessBlock--0">
			<div class="hardinessBlock-inner">?</div>
		</div>
	{% endif %}
{% endmacro %}
