{% macro render_plant_list(propagationmethod) %}
	{% if propagationmethod.children.count() > 0 %}
		<ul class="page-genusList">
			{% for plant in propagationmethod.children %}
			<li class="page-genusList-blockContainer{% if plant._id == active %} active{% endif %}">
				<a class="page-genusList-blockContainer-block" href="{{ plant|url }}">
					{% for image in plant.attachments.images.filter(F.role == 'thumbnail') %}
					<img
						alt="{{ image.description }}"
						class="page-genusList-blockContainer-block-thumbnail"
						src="{{ image|url|nf_resize(w=720)|url }}"
						sizes="(max-width: 350px) 100vw, (max-width: 560px) 50vw, (max-width: 750px) 33vw, (max-width: 930px) 25vw, 100vw"
						srcset="
							{{ image|url|nf_resize(w=360)|url }} 360w,
							{{ image|url|nf_resize(w=720)|url }} 720w,
							{{ image|url|nf_resize(w=1080)|url }} 1080w,
							{{ image|url|nf_resize(w=1440)|url }} 1440w,
							{{ image|url|nf_resize(w=1920)|url }} 1920w,
							{{ image|url|nf_resize(w=3840)|url }} 3840w">
					{% endfor %}
					<span class="page-genusList-blockContainer-block-name">{{ plant.genus|capitalize }} {{ plant.name }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	{% else %}
		<p class="none">There are no plants listed that propagate via this method</p>
	{% endif %}
{% endmacro %}

{% macro render_siblings_list(active=none) %}
	<ul class="page-siblingsList">
	{% for method in site.query('/plant-propagationmethods') %}
		{% if method._id == active %}
			<li class="page-siblingsList-sibling page-siblingsList-sibling--active">{{ method.name }}</li>
		{% else %}
			<li class="page-siblingsList-sibling">
				<a href="{{ method|url }}">{{ method.name }}</a>
			</li>
		{% endif %}
	{% endfor %}
	</ul>
{% endmacro %}
