{% macro render_plant_genus(plant) %}
	<a href="{{ site.get('/plant-genera/'+plant.genus)|url }}">{{ plant.genus|capitalize }}</a>
{% endmacro %}

{% macro render_other_names_list(plant) %}
	{% if plant.othernames|length > 0 %}
		<p>Also known as <i>{{ plant.othernames|join(', ') }}</i>.</p>
	{% endif %}
{% endmacro %}

{% macro render_leaf_colours_list(plant) %}
	{% if plant.leafcolours|length > 0 %}
		{%- for leafcolour in plant.leafcolours if leafcolour != "" -%}
			<a href="{{ site.get('/plant-leafcolours/'+leafcolour)|url }}">
				{{- leafcolour -}}
			</a>
			{%- if loop.index != plant.leafcolours|length %}, {% endif -%}
		{%- endfor -%}
	{% else %}
		?
	{% endif %}
{% endmacro %}

{% macro render_flower_colours_list(plant) %}
	{% if plant.flowercolours|length > 0 %}
		{%- for flowercolour in plant.flowercolours if flowercolour != "" -%}
			<a href="{{ site.get('/plant-flowercolours/'+flowercolour)|url }}">
				{{- flowercolour -}}
			</a>
			{%- if loop.index != plant.flowercolours|length %}, {% endif -%}
		{%- endfor -%}
	{% else %}
		?
	{% endif %}
{% endmacro %}

{% macro render_max_height(plant) %}
	{% if plant.maxheight and plant.maxheight > 0 %}
		~{{ plant.maxheight}}cm
	{% else %}
		?
	{% endif %}
{% endmacro %}

{% macro render_light(plant) %}
	{{ plant.light|default('?') }}
{% endmacro %}

{% macro render_water(plant) %}
	{{ plant.water|default('?') }}
{% endmacro %}

{% macro render_growing_season(plant) %}
	{% if plant.growingseason|length > 0 %}
		{%- for growingseason in plant.growingseason if growingseason != "" -%}
			<a href="{{ site.get('/plant-growingseasons/'+growingseason)|url }}">
				{{- growingseason -}}
			</a>
			{%- if loop.index != plant.growingseason|length %}, {% endif -%}
		{%- endfor -%}
	{% else %}
		?
	{% endif %}
{% endmacro %}

{% macro render_flowering_season(plant) %}
	{% if plant.floweringseason|length > 0 %}
		{%- for floweringseason in plant.floweringseason if floweringseason != "" -%}
			<a href="{{ site.get('/plant-floweringseasons/'+floweringseason)|url }}">
				{{- floweringseason -}}
			</a>
			{%- if loop.index != plant.floweringseason|length %}, {% endif -%}
		{%- endfor -%}
	{% else %}
		?
	{% endif %}
{% endmacro %}

{% macro render_temp_range(plant) %}
	{% if not plant.mintemp and not plant.maxtemp %}
		?
	{% elif plant.mintemp and not plant.maxtemp %}
		{{ plant.mintemp }}-?&deg;c
	{% elif not plant.mintemp and plant.maxtemp %}
		?-{{ plant.maxtemp }}&deg;c
	{% else %}
		{{ plant.mintemp }}-{{ plant.maxtemp}}&deg;c
	{% endif %}
{% endmacro %}

{% macro render_lifecycle(plant) %}
	{% if plant.lifecycle %}
		<a href="{{ site.get('/plant-lifecycles/'+plant.lifecycle)|url }}">{{ plant.lifecycle }}</a>
	{% else %}
		?
	{% endif %}
{% endmacro %}

{% macro render_lifespan(plant) %}
	{% if not plant.lifespan %}
		?
	{% elif plant.lifespan == 1 %}
		{{ plant.lifespan }} year
	{% else %}
		{{ plant.lifespan }} years
	{% endif %}
{% endmacro %}

{% macro render_propagation_methods_list(plant) %}
	{% if plant.propagationmethods|length > 0 %}
		{%- for method in plant.propagationmethods if method != "" -%}
			<a href="{{ site.get('/plant-propagationmethods/'+method)|url }}">
				{{- site.get('/plant-propagationmethods/'+method).name -}}
			</a>
			{%- if loop.index != plant.propagationmethods|length %}, {% endif -%}
		{%- endfor -%}
	{% else %}
		?
	{% endif %}
{% endmacro %}

{% macro render_certifications_list(plant) %}
	{% if plant.certifications|length > 0 %}
		{%- for certification in plant.certifications if certification != "" -%}
			<a href="{{ site.get('/plant-certifications/'+certification)|url }}">
				{{- site.get('/plant-certifications/'+certification).name -}}
			</a>
			{%- if loop.index != plant.certifications|length %}, {% endif -%}
		{%- endfor -%}
	{% else %}
		?
	{% endif %}
{% endmacro %}

{% macro url_to_title(url) %}
	{% if "https://en.wikipedia.org/" in url %}
		Wikipedia
	{% elif "https://www.succulentsandsunshine.com/" in url %}
		Succulents and Sunshine
	{% elif "http://pza.sanbi.org/" in url %}
		PlantZAfrica
	{% elif "https://www.iucnredlist.org/" in url %}
		IUCN Red List
	{% elif "http://www.llifle.com/" in url %}
		LLIFLE
	{% elif "http://theplantlist.org" in url or "http://www.theplantlist.org" in url %}
		The Plant List
	{% elif "https://www.rhs.org.uk/" in url %}
		Royal Horticultural Society
	{% else %}
		{{ url }}
	{% endif %}
{% endmacro %}

{% macro shortname(genus, species) %}
	{{ genus[0]|upper }}. {{ species }}
{% endmacro %}
