{% macro render_count_plants(query) %}
	({{ query.children.count() }} plant{% if query.children.count() != 1 %}s{% endif %} listed)
{% endmacro %}

{% macro render_leaf_colours_list(active=none) %}
	<ul class="page-genusList">
	{% for leafcolour in site.query('/plant-leafcolours') %}
	{% if leafcolour.children.count() > 0 %}
	<li class="page-genusList-blockContainer{% if leafcolour._id == active %} active{% endif
	%}">
		<a class="page-genusList-blockContainer-block" href="{{ leafcolour|url }}">
			{% for image in leafcolour.attachments.images.filter(F.role == 'thumbnail') %}
			<img
				alt="{{ image.description }}"
				class="page-genusList-blockContainer-block-thumbnail"
				src="{{ image|url|nf_resize(w=720)|url }}"
				sizes="(max-width: 350px) 100vw, (max-width: 560px) 50vw, (max-width: 750px) 33vw, (max-width: 930px) 25vw, 100vw"
				srcset="
					{{ image|url|nf_resize(w=360)|url }} 360w,
					{{ image|url|nf_resize(w=720)|url }} 720w,
					{{ image|url|nf_resize(w=1080)|url }} 1080w,
					{{ image|url|nf_resize(w=1440)|url }} 1440w,
					{{ image|url|nf_resize(w=1920)|url }} 1920w,
					{{ image|url|nf_resize(w=3840)|url }} 3840w">
			{% endfor %}
			<span class="page-genusList-blockContainer-block-name">{{ leafcolour.name }}</span>
			<span class="page-genusList-blockContainer-block-count">{{ render_count_plants(leafcolour) }}</span>
		</a>
	</li>
	{% endif %}
	{% endfor %}
	</ul>
{% endmacro %}

{% macro render_flower_colours_list(active=none) %}
	<ul class="page-genusList">
	{% for flowercolour in site.query('/plant-flowercolours') %}
	{% if flowercolour.children.count() > 0 %}
	<li class="page-genusList-blockContainer{% if flowercolour._id == active %} active{% endif
	%}">
		<a class="page-genusList-blockContainer-block" href="{{ flowercolour|url }}">
			{% for image in flowercolour.attachments.images.filter(F.role == 'thumbnail') %}
			<img
				alt="{{ image.description }}"
				class="page-genusList-blockContainer-block-thumbnail"
				src="{{ image|url|nf_resize(w=720)|url }}"
				sizes="(max-width: 350px) 100vw, (max-width: 560px) 50vw, (max-width: 750px) 33vw, (max-width: 930px) 25vw, 100vw"
				srcset="
					{{ image|url|nf_resize(w=360)|url }} 360w,
					{{ image|url|nf_resize(w=720)|url }} 720w,
					{{ image|url|nf_resize(w=1080)|url }} 1080w,
					{{ image|url|nf_resize(w=1440)|url }} 1440w,
					{{ image|url|nf_resize(w=1920)|url }} 1920w,
					{{ image|url|nf_resize(w=3840)|url }} 3840w">
			{% endfor %}
			<span class="page-genusList-blockContainer-block-name">{{ flowercolour.name }}</span>
			<span class="page-genusList-blockContainer-block-count">{{ render_count_plants(flowercolour) }}</span>
		</a>
	</li>
	{% endif %}
	{% endfor %}
	</ul>
{% endmacro %}

{% macro render_genera_list(active=none) %}
	<ul class="page-genusList">
	{% for genus in site.query('/plant-genera') %}
	{% if genus.children.count() > 0 %}
	<li class="page-genusList-blockContainer{% if genus._id == active %} active{% endif
	%}">
		<a class="page-genusList-blockContainer-block" href="{{ genus|url }}">
			{% for image in genus.attachments.images.filter(F.role == 'thumbnail') %}
			<img
				alt="{{ image.description }}"
				class="page-genusList-blockContainer-block-thumbnail"
				src="{{ image|url|nf_resize(w=720)|url }}"
				sizes="(max-width: 350px) 100vw, (max-width: 560px) 50vw, (max-width: 750px) 33vw, (max-width: 930px) 25vw, 100vw"
				srcset="
					{{ image|url|nf_resize(w=360)|url }} 360w,
					{{ image|url|nf_resize(w=720)|url }} 720w,
					{{ image|url|nf_resize(w=1080)|url }} 1080w,
					{{ image|url|nf_resize(w=1440)|url }} 1440w,
					{{ image|url|nf_resize(w=1920)|url }} 1920w,
					{{ image|url|nf_resize(w=3840)|url }} 3840w">
			{% endfor %}
			<span class="page-genusList-blockContainer-block-name">{{ genus.name }}</span>
			<span class="page-genusList-blockContainer-block-count">{{ render_count_plants(genus) }}</span>
		</a>
	</li>
	{% endif %}
	{% endfor %}
	</ul>
{% endmacro %}

{% macro render_life_cycles_list(active=none) %}
	<ul class="page-genusList">
	{% for lifecycle in site.query('/plant-lifecycles') %}
	<li class="page-genusList-blockContainer{% if lifecycle._id == active %} active{% endif
	%}">
		<a class="page-genusList-blockContainer-block" href="{{ lifecycle|url }}">
			{% for image in lifecycle.attachments.images.filter(F.role == 'thumbnail') %}
			<img
				alt="{{ image.description }}"
				class="page-genusList-blockContainer-block-thumbnail"
				src="{{ image|url|nf_resize(w=720)|url }}"
				sizes="(max-width: 350px) 100vw, (max-width: 560px) 50vw, (max-width: 750px) 33vw, (max-width: 930px) 25vw, 100vw"
				srcset="
					{{ image|url|nf_resize(w=360)|url }} 360w,
					{{ image|url|nf_resize(w=720)|url }} 720w,
					{{ image|url|nf_resize(w=1080)|url }} 1080w,
					{{ image|url|nf_resize(w=1440)|url }} 1440w,
					{{ image|url|nf_resize(w=1920)|url }} 1920w,
					{{ image|url|nf_resize(w=3840)|url }} 3840w">
			{% endfor %}
			<span class="page-genusList-blockContainer-block-name">{{ lifecycle.name }}</span>
			<span class="page-genusList-blockContainer-block-count">{{ render_count_plants(lifecycle) }}</span>
		</a>
	</li>
	{% endfor %}
	</ul>
{% endmacro %}

{% macro render_hardiness_zone_list(active=none) %}
	<ul class="page-zoneList">
	{% for hardinesszone in site.query('/plant-hardinesszones') %}
	<li class="page-zoneList-blockContainer{% if hardinesszone._id == active %} active{% endif
	%}">
		<a class="page-zoneList-blockContainer-block hardinessBlock--{{ hardinesszone.name }}" href="{{ hardinesszone|url }}">
			<span class="page-zoneList-blockContainer-block-name">{{ hardinesszone.name }}</span>
			<span class="page-zoneList-blockContainer-block-count">{{ render_count_plants(hardinesszone) }}</span>
		</a>
	</li>
	{% endfor %}
	</ul>
{% endmacro %}

{% macro render_growing_season_list(active=none) %}
	<ul class="page-genusList">
	{% for growingseason in site.query('/plant-growingseasons') %}
	<li class="page-genusList-blockContainer{% if growingseason._id == active %} active{% endif
	%}">
		<a class="page-genusList-blockContainer-block" href="{{ growingseason|url }}">
			{% for image in growingseason.attachments.images.filter(F.role == 'thumbnail') %}
			<img
				alt="{{ image.description }}"
				class="page-genusList-blockContainer-block-thumbnail"
				src="{{ image|url|nf_resize(w=720)|url }}"
				sizes="(max-width: 350px) 100vw, (max-width: 560px) 50vw, (max-width: 750px) 33vw, (max-width: 930px) 25vw, 100vw"
				srcset="
					{{ image|url|nf_resize(w=360)|url }} 360w,
					{{ image|url|nf_resize(w=720)|url }} 720w,
					{{ image|url|nf_resize(w=1080)|url }} 1080w,
					{{ image|url|nf_resize(w=1440)|url }} 1440w,
					{{ image|url|nf_resize(w=1920)|url }} 1920w,
					{{ image|url|nf_resize(w=3840)|url }} 3840w">
			{% endfor %}
			<span class="page-genusList-blockContainer-block-name">{{ growingseason.name }}</span>
			<span class="page-genusList-blockContainer-block-count">{{ render_count_plants(growingseason) }}</span>
		</a>
	</li>
	{% endfor %}
	</ul>
{% endmacro %}

{% macro render_flowering_season_list(active=none) %}
	<ul class="page-genusList">
	{% for floweringseason in site.query('/plant-floweringseasons') %}
	<li class="page-genusList-blockContainer{% if floweringseason._id == active %} active{% endif
	%}">
		<a class="page-genusList-blockContainer-block" href="{{ floweringseason|url }}">
			{% for image in floweringseason.attachments.images.filter(F.role == 'thumbnail') %}
			<img
				alt="{{ image.description }}"
				class="page-genusList-blockContainer-block-thumbnail"
				src="{{ image|url|nf_resize(w=720)|url }}"
				sizes="(max-width: 350px) 100vw, (max-width: 560px) 50vw, (max-width: 750px) 33vw, (max-width: 930px) 25vw, 100vw"
				srcset="
					{{ image|url|nf_resize(w=360)|url }} 360w,
					{{ image|url|nf_resize(w=720)|url }} 720w,
					{{ image|url|nf_resize(w=1080)|url }} 1080w,
					{{ image|url|nf_resize(w=1440)|url }} 1440w,
					{{ image|url|nf_resize(w=1920)|url }} 1920w,
					{{ image|url|nf_resize(w=3840)|url }} 3840w">
			{% endfor %}
			<span class="page-genusList-blockContainer-block-name">{{ floweringseason.name }}</span>
			<span class="page-genusList-blockContainer-block-count">{{ render_count_plants(floweringseason) }}</span>
		</a>
	</li>
	{% endfor %}
	</ul>
{% endmacro %}


{% macro render_conservation_status_list(active=none) %}
	<ul class="page-statusList">
	{% for conservationstatus in site.query('/plant-conservationstatuses') %}
	<li class="page-statusList-blockContainer statusBlock--{{ conservationstatus.code }} {% if conservationstatus._id == active %} active{% endif
	%}">
		<a class="page-statusList-blockContainer-block statusBlock--{{ conservationstatus.code }}" href="{{ conservationstatus|url }}">
			<span class="page-statusList-blockContainer-block-name statusBlock--{{ conservationstatus.code }}">{{ conservationstatus.name }}</span>
			<span class="page-statusList-blockContainer-block-count">{{ render_count_plants(conservationstatus) }}</span>
		</a>
	</li>
	{% endfor %}
	</ul>
{% endmacro %}

{% macro render_propagation_methods_list(active=none) %}
	<ul class="page-genusList">
	{% for method in site.query('/plant-propagationmethods') %}
	<li class="page-genusList-blockContainer{% if method._id == active %} active{% endif
	%}">
		<a class="page-genusList-blockContainer-block" href="{{ method|url }}">
			{% for image in method.attachments.images.filter(F.role == 'thumbnail') %}
			<img
				alt="{{ image.description }}"
				class="page-genusList-blockContainer-block-thumbnail"
				src="{{ image|url|nf_resize(w=720)|url }}"
				sizes="(max-width: 350px) 100vw, (max-width: 560px) 50vw, (max-width: 750px) 33vw, (max-width: 930px) 25vw, 100vw"
				srcset="
					{{ image|url|nf_resize(w=360)|url }} 360w,
					{{ image|url|nf_resize(w=720)|url }} 720w,
					{{ image|url|nf_resize(w=1080)|url }} 1080w,
					{{ image|url|nf_resize(w=1440)|url }} 1440w,
					{{ image|url|nf_resize(w=1920)|url }} 1920w,
					{{ image|url|nf_resize(w=3840)|url }} 3840w">
			{% endfor %}
			<span class="page-genusList-blockContainer-block-name">{{ method.name }}</span>
			<span class="page-genusList-blockContainer-block-count">{{ render_count_plants(method) }}</span>
		</a>
	</li>
	{% endfor %}
	</ul>
{% endmacro %}

{% macro render_certifications_list(active=none) %}
	<ul class="page-genusList">
	{% for certification in site.query('/plant-certifications') %}
	<li class="page-genusList-blockContainer{% if certification._id == active %} active{% endif
	%}">
		<a class="page-genusList-blockContainer-block" href="{{ certification|url }}">
			{% for image in certification.attachments.images.filter(F.role == 'thumbnail') %}
			<img
				alt="{{ image.description }}"
				class="page-genusList-blockContainer-block-thumbnail"
				src="{{ image|url|nf_resize(w=720)|url }}"
				sizes="(max-width: 350px) 100vw, (max-width: 560px) 50vw, (max-width: 750px) 33vw, (max-width: 930px) 25vw, 100vw"
				srcset="
					{{ image|url|nf_resize(w=360)|url }} 360w,
					{{ image|url|nf_resize(w=720)|url }} 720w,
					{{ image|url|nf_resize(w=1080)|url }} 1080w,
					{{ image|url|nf_resize(w=1440)|url }} 1440w,
					{{ image|url|nf_resize(w=1920)|url }} 1920w,
					{{ image|url|nf_resize(w=3840)|url }} 3840w">
			{% endfor %}
			<span class="page-genusList-blockContainer-block-name">{{ certification.name }}</span>
			<span class="page-genusList-blockContainer-block-count">{{ render_count_plants(certification) }}</span>
		</a>
	</li>
	{% endfor %}
	</ul>
{% endmacro %}
