{%- macro render_count_plants(query) -%}
	<i>({{ query.children.count() }})</i>
{%- endmacro -%}

{% macro render_genera_list() %}
	<fieldset class="page-searchGroup">
		<legend class="page-searchGroup-legend">Genus</legend>
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="genus[]" id="genus-any" value="any" checked>
			<label class="page-searchGroup-item-label" for="genus-any">Any</label>
		</div>
		{% for genus in site.query('/plant-genera') %}
		{% if genus.children.count() > 0 %}
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="genus[]" id="genus-{{ genus.name }}" value="{{ genus.name|lower }}">
			<label class="page-searchGroup-item-label" for="genus-{{ genus.name }}">{{ genus.name }} {{ render_count_plants(genus) }}</label>
		</div>
		{% endif %}
		{% endfor %}
	</fieldset>
{% endmacro %}

{% macro render_growing_season_list() %}
	<fieldset class="page-searchGroup">
		<legend class="page-searchGroup-legend">Growing Season</legend>
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="growingseason[]" id="growingseason-any" value="any" checked>
			<label class="page-searchGroup-item-label" for="growingseason-any">Any</label>
		</div>
		{% for growingseason in site.query('/plant-growingseasons') %}
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="growingseason[]" id="growingseason-{{ growingseason.name }}" value="{{ growingseason.name|lower }}">
			<label class="page-searchGroup-item-label" for="growingseason-{{ growingseason.name }}">{{ growingseason.name }} {{ render_count_plants(growingseason) }}</label>
		</div>
		{% endfor %}
	</fieldset>
{% endmacro %}

{% macro render_flowering_season_list() %}
	<fieldset class="page-searchGroup">
		<legend class="page-searchGroup-legend">Flowering Season</legend>
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="floweringseason[]" id="floweringseason-any" value="any" checked>
			<label class="page-searchGroup-item-label" for="floweringseason-any">Any</label>
		</div>
		{% for floweringseason in site.query('/plant-floweringseasons') %}
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="floweringseason[]" id="floweringseason-{{ floweringseason.name }}" value="{{ floweringseason.name|lower }}">
			<label class="page-searchGroup-item-label" for="floweringseason-{{ floweringseason.name }}">{{ floweringseason.name }} {{ render_count_plants(floweringseason) }}</label>
		</div>
		{% endfor %}
	</fieldset>
{% endmacro %}

{% macro render_life_cycles_list() %}
	<fieldset class="page-searchGroup">
		<legend class="page-searchGroup-legend">Life Cycle</legend>
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="lifecycle[]" id="lifecycle-any" value="any" checked>
			<label class="page-searchGroup-item-label" for="lifecycle-any">Any</label>
		</div>
		{% for lifecycle in site.query('/plant-lifecycles') %}
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="lifecycle[]" id="lifecycle-{{ lifecycle.name }}" value="{{ lifecycle.name|lower }}">
			<label class="page-searchGroup-item-label" for="lifecycle-{{ lifecycle.name }}">{{ lifecycle.name }} {{ render_count_plants(lifecycle) }}</label>
		</div>
		{% endfor %}
	</fieldset>
{% endmacro %}

{% macro render_leaf_colours_list() %}
	<fieldset class="page-searchGroup">
		<legend class="page-searchGroup-legend">Leaf Colour</legend>
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="leafcolour[]" id="leafcolour-any" value="any" checked>
			<label class="page-searchGroup-item-label" for="leafcolour-any">Any</label>
		</div>
		{% for leafcolour in site.query('/plant-leafcolours') %}
		{% if leafcolour.children.count() > 0 %}
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="leafcolour[]" id="leafcolour-{{ leafcolour.name }}" value="{{ leafcolour.name|lower }}">
			<label class="page-searchGroup-item-label" for="leafcolour-{{ leafcolour.name }}">{{ leafcolour.name }} {{ render_count_plants(leafcolour) }}</label>
		</div>
		{% endif %}
		{% endfor %}
	</fieldset>
{% endmacro %}

{% macro render_flower_colours_list() %}
	<fieldset class="page-searchGroup">
		<legend class="page-searchGroup-legend">Flower Colour</legend>
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="flowercolour[]" id="flowercolour-any" value="any" checked>
			<label class="page-searchGroup-item-label" for="flowercolour-any">Any</label>
		</div>
		{% for flowercolour in site.query('/plant-flowercolours') %}
		{% if flowercolour.children.count() > 0 %}
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="flowercolour[]" id="flowercolour-{{ flowercolour.name }}" value="{{ flowercolour.name|lower }}">
			<label class="page-searchGroup-item-label" for="flowercolour-{{ flowercolour.name }}">{{ flowercolour.name }} {{ render_count_plants(flowercolour) }}</label>
		</div>
		{% endif %}
		{% endfor %}
	</fieldset>
{% endmacro %}

{% macro render_hardiness_zone_select(id) %}
	<select name="hardinesszone-{{ id }}" id="hardinesszone-{{ id }}">
	{%- for zone in site.query('/plant-hardinesszones') %}
		<option value="{{ zone.sort_key }}"{% if id == "from" and zone.sort_key == 1 %} selected{% elif id == "to" and zone.sort_key == 26 %} selected{% endif %}>{{ zone.name }}</option>
	{%- endfor %}
	</select>
{% endmacro %}

{% macro render_hardiness_zone_options() %}
	<fieldset class="page-searchGroup">
		<legend class="page-searchGroup-legend">Hardiness Zone</legend>
			<div id="hardinessZone">
				<label for="hardinesszone-from">From</label> {{ render_hardiness_zone_select("from") }} <label for="hardinesszone-to">to</label> {{ render_hardiness_zone_select("to") }}
			</div>
	</fieldset>
{% endmacro %}

{% macro render_conservation_status_list() %}
	<fieldset class="page-searchGroup">
		<legend class="page-searchGroup-legend">Conservation Status</legend>
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="conservationstatus[]" id="conservationstatus-any" value="any" checked>
			<label class="page-searchGroup-item-label" for="conservationstatus-any">Any</label>
		</div>
		{% for status in site.query('/plant-conservationstatuses') %}
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="conservationstatus[]" id="conservationstatus-{{ status.code }}" value="{{ status.code }}">
			<label class="page-searchGroup-item-label" for="conservationstatus-{{ status.code }}">{{ status.name }} {{ render_count_plants(status) }}</label>
		</div>
		{% endfor %}
	</fieldset>
{% endmacro %}

{% macro render_propagation_methods_list() %}
	<fieldset class="page-searchGroup">
		<legend class="page-searchGroup-legend">Propagates Via</legend>
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="propagationmethod[]" id="propagationmethod-any" value="any" checked>
			<label class="page-searchGroup-item-label" for="propagationmethod-any">Any</label>
		</div>
		{% for propagationmethod in site.query('/plant-propagationmethods') %}
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="propagationmethod[]" id="propagationmethod-{{ propagationmethod._id }}" value="{{ propagationmethod._id }}">
			<label class="page-searchGroup-item-label" for="propagationmethod-{{ propagationmethod._id }}">{{ propagationmethod.name }} {{ render_count_plants(propagationmethod) }}</label>
		</div>
		{% endfor %}
	</fieldset>
{% endmacro %}

{% macro render_certifications_list() %}
	<fieldset class="page-searchGroup">
		<legend class="page-searchGroup-legend">Certification</legend>
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="certification[]" id="certification-any" value="any" checked>
			<label class="page-searchGroup-item-label" for="certification-any">Any</label>
		</div>
		{% for certification in site.query('/plant-certifications') %}
		<div class="page-searchGroup-item">
			<input class="page-searchGroup-item-checkbox" type="checkbox" name="certification[]" id="certification-{{ certification._id }}" value="{{ certification._id }}">
			<label class="page-searchGroup-item-label" for="certification-{{ certification._id }}">{{ certification.name }} {{ render_count_plants(certification) }}</label>
		</div>
		{% endfor %}
	</fieldset>
{% endmacro %}
