{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}
{% block body %}
	<h1>{{ this.name }}</h1>
	<div>
		{{ this.body }}
	</div>
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
		<img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png">
	</a>
	<br>
	<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">succ.wiki</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://succ.wiki/" property="cc:attributionName" rel="cc:attributionURL">succ.wiki contributors</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>, except where otherwise noted.
{% endblock %}
