{% extends "layout.html" %}
{% from "macros/glossary.html" import
	render_definitions_list,
	render_quick_links_bar %}
{% block title %}Glossary{% endblock %}
{% block metadescription %}Not sure what a particular word means? Look it up in our glossary of terms.{% endblock %}
{% block pageClasses %}page--glossary{% endblock %}
{% block body %}
	<a class="page-topAnchor" id="top"></a>
	{{ render_quick_links_bar(this.children) }}
	<h1>Glossary</h1>
	{{ this.paragraph }}
	{{ render_definitions_list(this.children) }}
{% endblock %}
