{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}
{% block body %}
	<h1>{{ this.name }}</h1>
	<div class="introduction">{{ this.introduction }}</div>
	<a name="content"></a>
	<div class="content">{{ this.content }}</div>
{% endblock %}
