{%- from "macros/layout.html" import
	render_source_url -%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="canonical" href="{{ this|url(external=True) }}">
	<link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
	<script>
		function applyMode() {
			var toggle = localStorage.getItem("toggle");
			var body = document.getElementsByTagName("body")[0];

			if (toggle == "night") {
				body.classList.add("nightMode");
			}
		}
	</script>
	<script>
		function toggleNightMode() {
			var toggle = localStorage.getItem("toggle");
			var body = document.getElementsByTagName("body")[0];
			
			if (toggle == "night") {
				body.classList.remove("nightMode");
				localStorage.setItem("toggle", "day");
			}
			else {
				body.classList.add("nightMode");
				localStorage.setItem("toggle", "night");
			}
		}
	</script>
	<script type="text/javascript">
		function hasJS() {
			var body = document.getElementsByTagName("body")[0];
			body.classList.add("--hasJS");

			var showIfNoJS = document.getElementsByClassName("--showIfNoJS");
			for (i=0; i<showIfNoJS.length; i++) {
				showIfNoJS[i].classList.remove("--showIfNoJS");
				showIfNoJS[i].classList.add("--hideIfJS");
			}

			var showIfNoJS = document.getElementsByClassName("--showOnSmallIfNoJS");
			for (i=0; i<showIfNoJS.length; i++) {
				showIfNoJS[i].classList.remove("--showOnSmallIfNoJS");
				showIfNoJS[i].classList.add("--hideOnSmallIfNoJS");
			}
		}
	</script>
	<script type="text/javascript">
		function toggleMenu() {
			var menu = document.getElementsByClassName("nav")[0];
			if (menu.classList.contains("--open")) {
				menu.classList.remove("--open");
			}
			else {
				menu.classList.add("--open");
			}
		}
	</script>
	<title>{% block title %}Welcome{% endblock %} — succ.wiki</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{% block metadescription %}Welcome to succ.wiki, a community-run website for all things cacti and succulent! Browse plants, guides, a glossary of terms, and more.{% endblock %}">
	<noscript>
		<style type="text/css">
			.toggleButton {
				display: none;
			}

			.menuButton {
				display: none;
			}

			.--hideIfNoJS {
				display: none;
			}
		</style>
	</noscript>
	{% block head %}{% endblock %}
</head>
<body onload="applyMode(); hasJS()">
	<script>applyMode()</script>
	<script>hasJS()</script>
	<header>
	<div class="headerContent">
		<div class="title"><a href="{{ '/'|url }}">succ.wiki</a></div>
		<nav>
			<ul class="nav">
				{% for href, title, navicon in [
					['/plants', 'Plants', '<i class="material-icons">spa</i>'],
					['/search', 'Search', '<i class="material-icons">search</i>'],
					['/guides', 'Guides', '<i class="material-icons">library_books</i>'],
					['/glossary', 'Glossary', '<i class="material-icons">book</i>'],
					['/about', 'About', '<i class="material-icons">help</i>']
				] %}
				<li{% if this.is_child_of(href) %} class="active"{% endif
					%}><a class="--noUnderline" href="{{ href|url }}"><span class="navIcon">{{ navicon|safe }}</span><span class="--underline">{{ title }}</span></a></li>
				{% endfor %}
				<span class="closeMenuButtonContainer --noSelect">
					<span class="closeMenuButton --noSelect" id="closeMenuButton" onclick="toggleMenu()" title="Close menu">
						<i class="material-icons">close</i>
					</span>
					<span class="toggleButton --noSelect --hideOnLarge" id="smallToggleButton" onclick="toggleNightMode()" title="Toggle day/night theme">
						<i class="material-icons --flipOnNightMode">brightness_medium</i>
					</span>
				</span>
			</ul>
		</nav>
	</div>
	<span class="toggleButton --noSelect --hideOnSmall --showIfNoJS" id="toggleButton" onclick="toggleNightMode()" title="Toggle day/night theme">
		<i class="material-icons --flipOnNightMode">brightness_medium</i>
	</span>
	<span class="menuButton --noSelect --hideOnLarge" id="menuButton" onclick="toggleMenu()" title="Open menu">
		<i class="material-icons">menu</i>
	</span>
	</header>
	<main class="page {% block pageClasses %}{% endblock %}">
		{% block body %}{% endblock %}
	</main>
	<footer class="footer">
		<span class="footer-element" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">© succ.wiki contributors</span>
		<span class="footer-element">Built with <a href="https://getlektor.com/" target="_blank" rel="noopener">Lektor</a>. Hosted by <a href="https://netlify.com/" target="_blank" rel="noopener">Netlify</a>.</span>
		<!--<span class="footer-element">{# render_source_url(this, "nav") #}</span>-->
	</footer>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700" rel="stylesheet">
	<script>hasJS()</script>
</body>
</html>
