{% extends "layout.html" %}
{% from "macros/plant-genus.html" import
	render_plant_list,
	render_siblings_list %}
{% from "macros/plants.html" import
	render_genera_list %}
{% block title %}{{ this.name }}{% endblock %}
{% block body %}
	<a href="{{ this.parent|url }}">by genus</a> >
	{{ this.name }}
	<h1>{{ this.name }}</h1>
	<div class="page-imageBox">
		{% if this.attachments.images.filter(F.role == 'thumbnail').count() > 0 %}
		<div class="page-imageBox-thumbnailContainer">
		{% for image in this.attachments.images.filter(F.role == 'thumbnail') %}
			<img
				alt="{{ image.description }}"
				class="page-imageBox-thumbnailContainer-thumbnail"
				src="{{ image|url|nf_resize(w=720) }}"
				sizes="(max-width: 480px) 100vw, 25vw"
				srcset="
					{{ image|url|nf_resize(w=360) }} 360w,
					{{ image|url|nf_resize(w=720) }} 720w,
					{{ image|url|nf_resize(w=1080) }} 1080w,
					{{ image|url|nf_resize(w=1440) }} 1440w,
					{{ image|url|nf_resize(w=1920) }} 1920w,
					{{ image|url|nf_resize(w=3840) }} 3840w"
				alt="{{ image.description }}">
			<span class="page-imageBox-thumbnailContainer-description">
				{{ image.description }} <a href="{{ image|url  }}" target="_blank">[view in full size]</a>
			</span>
		{% endfor %}
		</div>
		{% endif %}
	</div>
	<div class="page-genusIntroduction">
		<a name="introduction"></a>
		{{ this.introduction }}
		<p><b>For specific details, refer to the appropriate species or hybrid page.</b></p>
	</div>
	<div class="page-genusCare">
		<a name="care"></a>
		<h2>Care</h2>
		{{ this.care }}
		<p><b>For specific care instructions, refer to the appropriate species or hybrid page.</b></p>
	</div>
	<div class="page-genusCultivation">
		<a name="cultivation"></a>
		<h2>Cultivation and Propagation</h2>
		{{ this.cultivation }}
		<p><b>For specific cultivation and propagation instructions, refer to the appropriate species or hybrid page.</b></p>
	</div>
	<div class="page-genusSpecies">
		<a name="species"></a>
		<h2>Species</h2>
		{{ render_plant_list(this.children.filter(F.type == 'species'), "species") }}
	</div>
	<div class="page-genusHybrids">
		<a name="hybrids"></a>
		<h2>Hybrids and Cultivars</h2>
		{{ render_plant_list(this.children.filter(F.type != 'species'), "hybrids or cultivars") }}
	</div>
	{{ render_siblings_list(this._id) }}
{% endblock %}
