{% extends "layout.html" %}
{% from "macros/plants.html" import
	render_growing_season_list,
	render_flowering_season_list,
	render_leaf_colours_list,
	render_flower_colours_list,
	render_genera_list,
	render_hardiness_zone_list,
	render_life_cycles_list,
	render_conservation_status_list,
	render_propagation_methods_list,
	render_certifications_list %}
{% block title %}Plants{% endblock %}
{% block metadescription %}View succulent plants by genus, growing season, flower colour, USDA hardiness zone, and more.{% endblock %}
{% block body %}
	<h1>Plants</h1>
	{{ this.paragraph }}
	<h2><a class="--inheritColour" href="{{ site.get('/plant-genera')|url }}">Plants by Genus</a></h2>
	{{ render_genera_list(active=none) }}
	<h2><a class="--inheritColour" href="{{ site.get('/plant-growingseasons')|url }}">Plants by Growing Season</a></h2>
	{{ render_growing_season_list(active=none) }}
	<h2><a class="--inheritColour" href="{{ site.get('/plant-floweringseasons')|url }}">Plants by Flowering Season</a></h2>
	{{ render_flowering_season_list(active=none) }}
	<h2><a class="--inheritColour" href="{{ site.get('/plant-lifecycles')|url }}">Plants by Life Cycle</a></h2>
	{{ render_life_cycles_list(active=none) }}
	<h2><a class="--inheritColour" href="{{ site.get('/plant-leafcolours')|url }}">Plants by Leaf Colour</a></h2>
	{{ render_leaf_colours_list(active=none) }}
	<h2><a class="--inheritColour" href="{{ site.get('/plant-flowercolours')|url }}">Plants by Flower Colour</a></h2>
	{{ render_flower_colours_list(active=none) }}
	<h2><a class="--inheritColour" href="{{ site.get('/plant-hardinesszones')|url }}">Plants by Hardiness Zone</a></h2>
	{{ render_hardiness_zone_list(active=none) }}
	<h2><a class="--inheritColour" href="{{ site.get('/plant-conservationstatuses')|url }}">Plants by Conservation Status</a></h2>
	{{ render_conservation_status_list(active=none) }}
	<h2><a class="--inheritColour" href="{{ site.get('/plant-propagationmethods')|url }}">Plants by Propagation Method</a></h2>
	{{ render_propagation_methods_list(active=none) }}
	<h2><a class="--inheritColour" href="{{ site.get('/plant-certifications')|url }}">Plants by Certification</a></h2>
	{{ render_certifications_list(active=none) }}
{% endblock %}
