{% extends "layout.html" %}
{% from "macros/plant-lifecycle.html" import
	render_plant_list,
	render_siblings_list %}
{% block title %}{{ this.name }} plants{% endblock %}
{% block body %}
	<a href="{{ this.parent|url }}">by life cycle</a> > {{ this.name }}
	<h1>{{ this.name }} plants</h1>
	{{ render_plant_list(this) }}
	{{ render_siblings_list(this._id) }}
{% endblock %}
