{% extends "layout.html" %}
{% from "macros/plant-conservationstatus.html" import
	render_plant_list,
	render_siblings_list %}
{% block title %}Plants that are {{ this.name }}{% endblock %}
{% block body %}
	<a href="{{ this.parent|url }}">by conservation status</a> > {{ this.name }}
	<h1>Plants that are {{ this.name }}</h1>
	{{ render_plant_list(this) }}
	{{ render_siblings_list(this._id) }}
{% endblock %}
