{% extends "layout.html" %}
{% from "macros/plant-flowercolour.html" import
	render_plant_list,
	render_siblings_list %}
{% block title %}Plants with {{ this.name }} flowers{% endblock %}
{% block body %}
	<a href="{{ this.parent|url }}">by flower colour</a> > {{ this.name }}
	<h1>Plants with {{ this.name }} flowers</h1>
	{{ render_plant_list(this) }}
	{{ render_siblings_list(this._id) }}
{% endblock %}
