{% extends "layout.html" %}
{% from "macros/plant.html" import
	render_plant_genus,
	render_other_names_list,
	render_leaf_colours_list,
	render_flower_colours_list,
	render_temp_range,
	render_max_height,
	render_light,
	render_growing_season,
	render_flowering_season,
	render_water,
	render_lifecycle,
	render_lifespan,
	render_propagation_methods_list,
	render_certifications_list,
	url_to_title,
	shortname %}
{% from "macros/hardinesszone.html" import
	render_hardiness_zone %}
{% from "macros/conservationstatus.html" import
	render_conservation_status %}
{% block head %}
	{% for image in this.attachments.images.filter(F.role == 'thumbnail') %}<meta property="og:image" content="{{ image|url(external=True) }}" />{% endfor %}
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ this.genus|capitalize }} {{ this.name }}" />
	<meta property="og:description" content="View info about {{ this.genus|capitalize }} {{ this.name }} on succ.wiki" />
	<meta name="description" content="View info about {{ this.genus|capitalize }} {{ this.name }} on succ.wiki" />
{% endblock %}
{% block title %}{{ this.genus|capitalize }} {{ this.name }}{% endblock %}
{% block body %}
	<a href="{{ '/plants/genus'|url }}">by genus</a> >
	<a href="{{ ('/plants/genus/'+this.genus)|url }}">{{ this.genus|capitalize }}</a> >
	{{ this.name }}
	<h1>{{ this.genus|capitalize }} {{ this.name }}</h1>
	<div class="plant-content">
		{{ render_other_names_list(this) }}
		<div class="plant-info">
			{% if this.attachments.images.filter(F.role == 'thumbnail').count() > 0 %}
			<div class="plant-info-thumbnailContainer">
			{% for image in this.attachments.images.filter(F.role == 'thumbnail') %}
				<img
					class="plant-info-thumbnailContainer-thumbnail"
					src="{{ image|url|nf_resize(w=720) }}"
					sizes="(max-width: 480px) 100vw, 25vw"
					srcset="
						{{ image|url|nf_resize(w=360) }} 360w,
						{{ image|url|nf_resize(w=720) }} 720w,
						{{ image|url|nf_resize(w=1080) }} 1080w,
						{{ image|url|nf_resize(w=1440) }} 1440w,
						{{ image|url|nf_resize(w=1920) }} 1920w,
						{{ image|url|nf_resize(w=3840) }} 3840w"
					alt="{{ image.description }}">
				<span class="plant-info-thumbnailContainer-description">
					{{ image.description }} <a href="{{ image|url  }}" target="_blank">[view in full size]</a>
				</span>
			{% endfor %}
			</div>
			{% endif %}
			<table class="plant-info-table">
				<tr class="plant-info-table-row">
					<td>Genus:</td>
					<td>{{ render_plant_genus(this) }}</td>
				</tr>
				<tr class="plant-info-table-row">
					<td>{{ this.type|capitalize }}:</td>
					<td>{{ this.name }}</td>
				</tr>
				<tr class="plant-info-table-row">
					<td>Max. height:</td>
					<td>{{ render_max_height(this) }}</td>
				</tr>
				<!--<tr class="plant-info-table-row">
					<td>Max. diameter:</td>
					<td></td>
				</tr>-->
				<tr class="plant-info-table-row">
					<td>Light:</td>
					<td>{{ render_light(this) }}</td>
				</tr>
				<tr class="plant-info-table-row">
					<td>Water:</td>
					<td>{{ render_water(this) }}</td>
				</tr>
				<tr class="plant-info-table-row">
					<td>Ideal temperature range:</td>
					<td>{{ render_temp_range(this) }} </td>
				</tr>
				<tr class="plant-info-table-row">
					<td>Growing season:</td>
					<td>{{ render_growing_season(this) }}</td>
				</tr>
				<tr class="plant-info-table-row">
					<td>Flowering season:</td>
					<td>{{ render_flowering_season(this) }}</td>
				</tr>
				<tr class="plant-info-table-row">
					<td>Life cycle:</td>
					<td>{{ render_lifecycle(this) }}</td>
				</tr>
				<tr class="plant-info-table-row">
					<td>Lifespan:</td>
					<td>{{ render_lifespan(this) }}</td>
				</tr>
				<tr class="plant-info-table-row">
					<td>Leaf colours:</td>
					<td>{{ render_leaf_colours_list(this) }}</td>
				</tr>
				<tr class="plant-info-table-row">
					<td>Flower colours:</td>
					<td>{{ render_flower_colours_list(this) }}</td>
				</tr>
				<tr class="plant-info-table-row">
					<td>Hardiness zone:</td>
					<td>{{ render_hardiness_zone(this) }}</td>
				</tr>
				<tr class="plant-info-table-row">
					<td>Conservation status:</td>
					<td>{{ render_conservation_status(this) }}</td>
				</tr>
				<tr class="plant-info-table-row">
					<td>Propagates via:</td>
					<td>{{ render_propagation_methods_list(this) }}</td>
				</tr>
				<tr class="plant-info-table-row">
					<td>Certifications:</td>
					<td>{{ render_certifications_list(this) }}</td>
				</tr>
			</table>
		</div>
		<div class="plant-content-description">{{ this.description }}</div>
		{% if this.attachments.images.count() > 0 %}
		<h2>Gallery</h2>
		<div class="plant-content-gallery" id="gallerythumbnails">
			{% for image in this.attachments.images %}
			<img
				alt="{{ image.description }}"
				data-index="{{ loop.index }}"
				class="plant-content-gallery-image --hideIfNoJS"
				src="{{ image|url|nf_resize(w=720) }}"
				sizes="10em"
				srcset="
					{{ image|url|nf_resize(w=360) }} 360w,
					{{ image|url|nf_resize(w=720) }} 720w,
					{{ image|url|nf_resize(w=1080) }} 1080w,
					{{ image|url|nf_resize(w=1440) }} 1440w,
					{{ image|url|nf_resize(w=1920) }} 1920w,
					{{ image|url|nf_resize(w=3840) }} 3840w">
			{% endfor %}
		</div>
		<noscript>
			<div class="plant-content-gallery">
			{% for image in this.attachments.images %}
				<a href="{{ image|url }}" target="_blank" rel="noopener">
					<img
						alt="{{ image.description }}"
						class="plant-content-gallery-image"
						src="{{ image|url|nf_resize(w=720) }}"
						sizes="10em"
						srcset="
							{{ image|url|nf_resize(w=360) }} 360w,
							{{ image|url|nf_resize(w=720) }} 720w,
							{{ image|url|nf_resize(w=1080) }} 1080w,
							{{ image|url|nf_resize(w=1440) }} 1440w,
							{{ image|url|nf_resize(w=1920) }} 1920w,
							{{ image|url|nf_resize(w=3840) }} 3840w">
				</a>
			{% endfor %}
			</div>
		</noscript>

		<div class="plant-gallery" id="gallery">
			<div class="plant-gallery-topBar --plantGalleryInterface">
				<span class="plant-gallery-topBar-item" id="fullscreen" title="Toggle fullscreen">
					<i class="material-icons" id="fullscreen-yes">fullscreen</i>
					<i class="material-icons" id="fullscreen-no">fullscreen_exit</i>
				</span>
				<span class="plant-gallery-topBar-item" id="original" title="View original">
					<i class="material-icons">photo_size_select_actual</i>
				</span>
				<span class="plant-gallery-topBar-item" id="link" title="Copy link">
					<i class="material-icons">link</i>
				</span>
				<span class="plant-gallery-topBar-item" id="close" title="Close">
					<i class="material-icons">close</i>
				</span>
			</div>
			<div class="plant-gallery-backButtonContainer --plantGalleryInterface" id="previous" title="Previous image">
				<span class="plant-gallery-backButtonContainer-button">
					<i class="material-icons">keyboard_arrow_left</i>
				</span>
			</div>
			<div class="plant-gallery-forwardButtonContainer --plantGalleryInterface" id="next" title="Next image">
				<span class="plant-gallery-forwardButtonContainer-button">
					<i class="material-icons">keyboard_arrow_right</i>
				</span>
			</div>
			<div class="plant-gallery-imagesContainer">
				{% for image in this.attachments.images %}
				<span class="plant-gallery-imagesContainer-imageContainer" data-index="{{ loop.index }}">
					<img
						alt="{{ image.description }}"
						class="plant-gallery-imagesContainer-imageContainer-image"
						src="{{ image|url|nf_resize(w=720) }}"
						sizes="100vw 100vh"
						srcset="
							{{ image|url|nf_resize(w=360) }} 360w,
							{{ image|url|nf_resize(w=720) }} 720w,
							{{ image|url|nf_resize(w=1080) }} 1080w,
							{{ image|url|nf_resize(w=1440) }} 1440w,
							{{ image|url|nf_resize(w=1920) }} 1920w,
							{{ image|url|nf_resize(w=3840) }} 3840w">
					<div class="plant-gallery-descriptionContainer --plantGalleryInterface" data-index="{{ loop.index }}">
						{{ image.description }}
						<br>
						Photographer: {{ image.photographer }}
						<br>
						© succ.wiki contributors
					</div>
				</span>
				{% endfor %}
			</div>
		</div>
		{% endif %}

		{% if this.links %}
			<h2><i>{{ shortname(this.genus, this.name) }}</i> on other sites</h2>
			<ul>
			{% for link in this.links %}
				<li><a href="{{ link }}" target="_blank">{{ url_to_title(link) }}</a></li>
			{% endfor %}
			</ul>
		{% endif %}

		{% if this.synonyms %}
			<h2>Synonyms</h2>
			<p>This plant is also, or has been, known by the following names:</p>
			<ul>
			{% for synonym in this.synonyms %}
				<li><i>{{ synonym }}</i></li>
			{% endfor %}
			</ul>
		{% endif %}

		{% if this.attachments.images.count() > 0 %}
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous">
		</script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/4.0.0/screenfull.min.js"
			integrity="sha256-s/La9l5oAErDFpKA2KkY0QpqI43ygUUYIYYfVx6O+vU="
			crossorigin="anonymous">
		</script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"
			integrity="sha256-FiZwavyI2V6+EXO1U+xzLG3IKldpiTFf3153ea9zikQ="
			crossorigin="anonymous">
		</script>
		<script type="text/javascript">
			// Plant gallery
			$(document).ready(function() {
				// Don't show the previous and next buttons if there's only one image in the gallery
				if ($('.plant-gallery-imagesContainer-imageContainer').length == 1) {
					$('#previous').addClass('--hide');
					$('#next').addClass('--hide');
				}

				// Show the gallery if it is specified in the URL of a freshly loaded page
				$(window).on('hashchange', function() {
					var index = window.location.hash.split('gallery')[1];
					if (index != undefined) {
						showGalleryAtIndex(index);
					}
					else {
						$('#gallery').hide();
					}
				});
				// Toggle the fullscreen button icon
				if (screenfull.enabled) {
					// Display the correct one initially
					if (screenfull.isFullscreen) {
						$('#fullscreen-yes').hide();
						$('#fullscreen-no').show();
					}
					else {
						$('#fullscreen-yes').show();
						$('#fullscreen-no').hide();
					}

					// Set a listener to toggle it on fullscreen change
					screenfull.on('change', function() {
						if (screenfull.isFullscreen) {
							$('#fullscreen-yes').hide();
							$('#fullscreen-no').show();
						}
						else {
							$('#fullscreen-yes').show();
							$('#fullscreen-no').hide();
						}
					});
				}
				else {
					// Fullscreen API not enabled/supported, so hide toggle button
					$('#fullscreen').hide();
				}

				// Show the gallery when an image is clicked,
				// display the clicked image,
				// and alter the URL
				$('#gallerythumbnails .plant-content-gallery-image').on('click', function() {
					var index = $(this).data('index');
					showGalleryAtIndex(index);
					history.pushState(null, null, '#gallery' + index);
				});

				// Hide any images that aren't the first image
				$('.plant-gallery-imagesContainer-imageContainer:not(:first-child)').hide();

				// Toggle interface on image click
				$('.plant-gallery-imagesContainer').on('click', function() {
					$('.--plantGalleryInterface:not(.--hide)').fadeToggle(200);
				});

				// Previous Image button
				$('#previous').on('click', function() {
					var current = $('.plant-gallery-imagesContainer-imageContainer:visible');
					current.hide();
					if (current.is(':first-child')) {
						current.siblings(':last').show();
					}
					else {
						current.prev().show();
					}
					current = $('.plant-gallery-imagesContainer-imageContainer:visible');
					history.replaceState(null, null, '#gallery' + current.data('index'));
				});

				// Next Image button
				$('#next').on('click', function() {
					var current = $('.plant-gallery-imagesContainer-imageContainer:visible');
					current.hide();
					if (current.is(':last-child')) {
						current.siblings(':first').show();
					}
					else {
						current.next().show();
					}
					current = $('.plant-gallery-imagesContainer-imageContainer:visible');
					history.replaceState(null, null, '#gallery' + current.data('index'));
				});

				// Fullscreen button
				$('#fullscreen').on('click', function() {
					if (screenfull.enabled) {
						screenfull.toggle($('.plant-gallery')[0]);
					}
				});

				// Original button
				$('#original').on('click', function() {
					var originals = [{% for image in this.attachments.images %}"{{ image|url }}",{% endfor %}];
					var index = $('.plant-gallery-imagesContainer-imageContainer:visible').data('index')-1;
					window.open(originals[index], '_blank');
				});

				// Copy link button
				var copyButton = new ClipboardJS('#link', {
					text: function(trigger) {
						return window.location.href;
					}
				});

				copyButton.on('success', function(e) {
					alert('Copied link to clipboard!');
				});

				// Close button
				$('#close').on('click', function() {
					$('.plant-gallery').hide();
					screenfull.exit();
					history.replaceState(null, null, '.');
				});

				// Show the gallery if the page has been loaded with
				// a gallery image specified after #gallery in the URL
				var index = window.location.hash.split('gallery')[1];
				showGalleryAtIndex(index);

				function showGalleryAtIndex(index) {
					if (index != undefined) {
						var requestedImage = $('.plant-gallery-imagesContainer-imageContainer[data-index="' + index + '"]');
						if (requestedImage.length > 0) {
							$('#gallery').css('visibility', 'visible');
							$('#gallery').show();
							$('.plant-gallery-imagesContainer-imageContainer').hide();
							requestedImage.show();
						}
					}
					return;
				}
			});
		</script>
		{% endif %}
	</div>
{% endblock %}
