{% extends "layout.html" %}
{% from "macros/plant-hardinesszone.html" import
	render_plant_list,
	render_siblings_list %}
{% block title %}Plants with {{ this.name }} hardiness{% endblock %}
{% block body %}
	<a href="{{ this.parent|url }}">by hardiness zone</a> > {{ this.name }}
	<h1>Plants suitable for {{ this.name }} hardiness zone</h1>
	{{ render_plant_list(this) }}
	{{ render_siblings_list(this._id) }}
{% endblock %}
