{% extends "layout.html" %}
{% from "macros/search.html" import
	render_growing_season_list,
	render_flowering_season_list,
	render_leaf_colours_list,
	render_flower_colours_list,
	render_genera_list,
	render_hardiness_zone_list,
	render_life_cycles_list,
	render_hardiness_zone_options,
	render_conservation_status_list,
	render_propagation_methods_list,
	render_certifications_list %}
{% block title %}Plant Search{% endblock %}
{% block metadescription %}Search for succulent plants by genus, growing season, flower colour, USDA hardiness zone, and more.{% endblock %}
{% block head %}
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
		integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik="
		crossorigin="anonymous">
	<style>
		/* Code modified from https://jqueryui.com/autocomplete/#maxheight */
		.ui-autocomplete {
			max-height: 200px;
			overflow-y: auto;
			overflow-x: hidden;
		}
	</style>
	<noscript>
		<style type="text/css">
			.requires_js {
				display: none;
			}
		</style>
	</noscript>
{% endblock %}
{% block body %}
	<h1>Plant Search</h1>
	<noscript>
		<p>Sorry, JavaScript must be enabled in order to use search and advanced search.</p>
		<p>Please enable JavaScript, or alternatively, you can visit the <a href="{{ '/plants'|url }}">Plants</a> page and view categories there.</p>
	</noscript>
	<p class="requires_js">Use this page to search for plants.</p>
	<div class="ui-widget requires_js">
		<label for="name">Search by genus, species, synonym, or common name: </label>
		<input id="name">
	</div>
	<h2 class="requires_js">Advanced search</h2>
	<div class="plantSearchBox requires_js">
		{{ render_genera_list() }}
		{{ render_growing_season_list() }}
		{{ render_flowering_season_list() }}
		{{ render_life_cycles_list() }}
		{{ render_leaf_colours_list() }}
		{{ render_flower_colours_list() }}
		{{ render_hardiness_zone_options() }}
		{{ render_conservation_status_list() }}
		{{ render_propagation_methods_list() }}
		{{ render_certifications_list() }}
	</div>
	<div id="advancedSearchContainer" class="requires_js">
		<h3>Results <span id="count"></span></h3>
		<span id="notice"></span>
		<ul class="page-genusList" id="advancedSearchResults">
		{% for plant in site.query('/plants').order_by('genus', 'name') %}
			<li class="page-genusList-blockContainer" data-id="{{ plant._id }}">
				<a class="page-genusList-blockContainer-block" href="{{ plant|url }}">
					{% for image in plant.attachments.images.filter(F.role == 'thumbnail') %}
					<img
						class="page-genusList-blockContainer-block-thumbnail"
						src="{{ image|url|nf_resize(w=720)|url }}"
						sizes="(max-width: 350px) 100vw, (max-width: 560px) 50vw, (max-width: 750px) 33vw, (max-width: 930px) 25vw, 100vw"
						srcset="
							{{ image|url|nf_resize(w=360)|url }} 360w,
							{{ image|url|nf_resize(w=720)|url }} 720w,
							{{ image|url|nf_resize(w=1080)|url }} 1080w,
							{{ image|url|nf_resize(w=1440)|url }} 1440w,
							{{ image|url|nf_resize(w=1920)|url }} 1920w,
							{{ image|url|nf_resize(w=3840)|url }} 3840w">
					{% endfor %}
					<span class="page-genusList-blockContainer-block-name">{{ plant.genus|capitalize }} {{ plant.name }}</span>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
		integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM="
		crossorigin="anonymous">
	</script>
	<script>
		function capitaliseFirstLetter(str) {
			return str.substr(0,1).toUpperCase()+str.substr(1);
		}

		// Genus and species search box
		$(function() {
			$.ajax({
				url: "{{ '/data/plants.json'|url }}",
				dataType: "json",
				success: function(data) {
					// Generate entries for each plant
					var plantNames = $.map(data, function(item) {
						return {
							label: capitaliseFirstLetter(item.genus) + " " + item.name,
							value: capitaliseFirstLetter(item.genus) + " " + item.name,
							link: item.url
						};
					});

					// Generate entries for each synonym
					data.forEach(function(item) {
						item.synonyms.forEach(function(synonym) {
							plantNames.push({
								label: capitaliseFirstLetter(item.genus) + " " + item.name + " " + synonym,
								value: capitaliseFirstLetter(item.genus) + " " + item.name,
								link: item.url,
								synonym: synonym
							});
						});
					});

					// Generate entries for each other name
					data.forEach(function(item) {
						item.othernames.forEach(function(othername) {
							plantNames.push({
								label: capitaliseFirstLetter(item.genus) + " " + item.name + " " + othername,
								value: capitaliseFirstLetter(item.genus) + " " + item.name,
								link: item.url,
								synonym: othername
							});
						});
					});

					$("#name").autocomplete({
						delay: 0,
						source: plantNames,
						minlength: 0,
						select: function(e, ui) {
							open(ui.item.link,"_self");
						}
					})
					.autocomplete("instance")._renderItem = function( ul, item ) {
						if (item.synonym) {
							// Return entry with synonym
							return $("<li>")
								.append('<div><b>' + item.value + '</b> <span class="searchResult-synonym">(' + item.synonym + ')</span></div>')
								.appendTo(ul);
						}
						else if (item.othername) {
							// Return entry with other name
							return $("<li>")
								.append('<div><b>' + item.value + '</b> <span class="searchResult-synonym">(' + item.othername + ')</span></div>')
								.appendTo(ul);
						}
						else {
							// Return entry without synonym
							return $("<li>")
								.append("<div><b>" + item.label + "</b></div>")
								.appendTo(ul);
						}
					};
				}
			});
		});
	</script>
	<script type="text/javascript">
		// For each set of checkboxes, handle changes in selection
		var options = ["genus", "growingseason", "floweringseason", "lifecycle", "leafcolour", "flowercolour", "conservationstatus", "propagationmethod", "certification"];
		options.forEach(function(o) {
			// When the "Any" option in a set is clicked
			$("#"+o+"-any").on("click", function(e) {
				var checkedBoxes = $("[name='"+o+"[]']:checked");
				// Uncheck everything in that set
				$("[name='"+o+"[]']").prop("checked", false);
				// Always check "Any" when it is clicked
				$("#"+o+"-any").prop("checked", true);
			});

			// When an option in the set is clicked
			$("[name='"+o+"[]']").on("click", function(e) {
				var checkedBoxes = $("[name='"+o+"[]']:checked");
				if (checkedBoxes.length > 1) {
					// More than one in that set is checked, so uncheck "Any"
					$("#"+o+"-any").prop("checked", false);
				}
				else if (checkedBoxes.length == 0) {
					// None in the set are checked, so check "Any"
					$("#"+o+"-any").prop("checked", true);
				}
				searchAndDisplay();
			});
		});
	</script>
	<script type="text/javascript">
		$("#hardinesszone-from").on("change", function(e) {
			hardinessZoneMinMax("from");
			searchAndDisplay()
		});

		$("#hardinesszone-to").on("change", function(e) {
			hardinessZoneMinMax("to");
			searchAndDisplay()
		});

		function hardinessZoneMinMax(sender) {
			var fromSelect = $("#hardinesszone-from");
			var toSelect = $("#hardinesszone-to");
			var fromVal = Number(fromSelect.find("option:selected").val());
			var toVal = Number(toSelect.find("option:selected").val());

			if (fromVal > toVal) {
				if (sender == "from") {
					// Set to as from
					toSelect.val(fromSelect.val());
				}
				else {
					// Set from as to
					fromSelect.val(toSelect.val());
				}
			}
		}
	</script>
	<script type="text/javascript">
		function parseSearchParams() {
			const searchParams = new URLSearchParams(window.location.search);
			searchParams.forEach(function(value, key) {
				if (key == "minzone") {
					$("#hardinesszone-from option").removeAttr("selected");
					$("#hardinesszone-from").val(value);
				}
				else if (key == "maxzone") {
					$("#hardinesszone-to option").removeAttr("selected");
					$("#hardinesszone-to").val(value);
				}
				else {
					$("[name='" + key + "[]'][value='any']").prop("checked", false);
					value.split(",").forEach(function(v) {
						$("[name='" + key + "[]'][value='" + v + "']").prop("checked", true);
					});
				}
			});
			if (searchParams != "") {
				searchAndDisplay(true);
			}
			else {
				searchAndDisplay(false);
			}
		}
	</script>
	<script type="text/javascript">
		function searchAndDisplay(scrollTo=true) {
			$("#advancedSearchResults").children().hide();

			var selectedGenera = [];
			$("[name='genus[]']:checked").each(function(i, e) {
				selectedGenera.push($(e).val());
			});
			var selectedGrowingSeasons = [];
			$("[name='growingseason[]']:checked").each(function(i, e) {
				selectedGrowingSeasons.push($(e).val());
			});
			var selectedFloweringSeasons = [];
			$("[name='floweringseason[]']:checked").each(function(i, e) {
				selectedFloweringSeasons.push($(e).val());
			});
			var selectedLifeCycles = [];
			$("[name='lifecycle[]']:checked").each(function(i, e) {
				selectedLifeCycles.push($(e).val());
			});
			var selectedLeafColours = [];
			$("[name='leafcolour[]']:checked").each(function(i, e) {
				selectedLeafColours.push($(e).val());
			});
			var selectedFlowerColours = [];
			$("[name='flowercolour[]']:checked").each(function(i, e) {
				selectedFlowerColours.push($(e).val());
			});
			var minZone = Number($("#hardinesszone-from").find("option:selected").val());
			var maxZone = Number($("#hardinesszone-to").find("option:selected").val());
			var selectedConservationStatuses = [];
			$("[name='conservationstatus[]']:checked").each(function(i, e) {
				selectedConservationStatuses.push($(e).val());
			});
			var selectedPropagationMethods = [];
			$("[name='propagationmethod[]']:checked").each(function(i, e) {
				selectedPropagationMethods.push($(e).val());
			});
			var selectedCertifications = [];
			$("[name='certification[]']:checked").each(function(i, e) {
				selectedCertifications.push($(e).val());
			});
			$.getJSON("{{ '/data/plants.json'|url }}", function(plantData) {
				var allOfThem;
				
				var results = plantData.filter(function(e) {
					allOfThem = selectedGenera[0] == "any" &&
								selectedGrowingSeasons[0] == "any" &&
								selectedFloweringSeasons[0] == "any" &&
								selectedLifeCycles[0] == "any" &&
								selectedLeafColours[0] == "any" &&
								selectedFlowerColours[0] == "any" &&
								(minZone == 1 && maxZone == 26) &&
								selectedConservationStatuses[0] == "any" &&
								selectedPropagationMethods[0] == "any" &&
								selectedCertifications[0] == "any";

					if (allOfThem) {
						// Currently overriding this but by commenting return true; and uncommenting the notice
						// you can disable showing every plant when no options have been refined
						$("#notice").text("");
						$("#advancedSearchResults").children().show();
						return true;
						//$("#notice").text("Too many results to display! Try narrowing your search.");
					}
					else {
						$("#notice").text("");
						return 	((selectedGenera[0] == "any") || (selectedGenera.includes(e.genus))) &&
								((selectedGrowingSeasons[0] == "any") || (e.growingseason.some(r => selectedGrowingSeasons.indexOf(r) >= 0))) &&
								((selectedFloweringSeasons[0] == "any") || (e.floweringseason.some(r => selectedFloweringSeasons.indexOf(r) >= 0))) &&
								((selectedLifeCycles[0] == "any") || (selectedLifeCycles.includes(e.lifecycle))) &&
								((selectedLeafColours[0] == "any") || (e.leafcolours.some(r => selectedLeafColours.indexOf(r) >= 0))) &&
								((selectedFlowerColours[0] == "any") || (e.flowercolours.some(r => selectedFlowerColours.indexOf(r) >= 0))) &&
								((minZone == 1 && maxZone == 26) || (e.hardinesszone_key >= minZone) && (e.hardinesszone_key <= maxZone)) &&
								((selectedConservationStatuses[0] == "any") || (selectedConservationStatuses.includes(e.conservationstatus))) &&
								((selectedPropagationMethods[0] == "any") || (e.propagationmethods.some(r => selectedPropagationMethods.indexOf(r) >= 0))) &&
								((selectedCertifications[0] == "any") || (e.certifications.some(r => selectedCertifications.indexOf(r) >= 0)));
					}
				});

				if (results.length == 0 && !allOfThem) {
					$("#notice").text("No results found. Try widening your search");
				}
				else {
					results.forEach(function(e) {
						$("*[data-id='" + e.id + "']").show();
					});
					$("#count").text("(" + results.length + ")");
				}
				if (scrollTo) {
					$("#advancedSearchContainer")[0].scrollIntoView();
				}
			});

			var searchParams = new URLSearchParams(window.location.search);
			if (selectedGenera[0] != "any") {
				searchParams.set("genus", selectedGenera);
			}
			else {
				searchParams.delete("genus");
			}

			if (selectedGrowingSeasons[0] != "any") {
				searchParams.set("growingseason", selectedGrowingSeasons);
			}
			else {
				searchParams.delete("growingseason");
			}

			if (selectedFloweringSeasons[0] != "any") {
				searchParams.set("floweringseason", selectedFloweringSeasons);
			}
			else {
				searchParams.delete("floweringseason");
			}

			if (selectedLifeCycles[0] != "any") {
				searchParams.set("lifecycle", selectedLifeCycles);
			}
			else {
				searchParams.delete("lifecycle");
			}

			if (selectedLeafColours[0] != "any") {
				searchParams.set("leafcolour", selectedLeafColours);
			}
			else {
				searchParams.delete("leafcolour");
			}

			if (selectedFlowerColours[0] != "any") {
				searchParams.set("flowercolour", selectedFlowerColours);
			}
			else {
				searchParams.delete("flowercolour");
			}

			if (minZone != 1) {
				searchParams.set("minzone", minZone);
			}
			else {
				searchParams.delete("minzone");
			}

			if (maxZone != 26) {
				searchParams.set("maxzone", maxZone);
			}
			else {
				searchParams.delete("maxzone");
			}

			if (selectedConservationStatuses[0] != "any") {
				searchParams.set("conservationstatus", selectedConservationStatuses);
			}
			else {
				searchParams.delete("conservationstatus");
			}

			if (selectedPropagationMethods[0] != "any") {
				searchParams.set("propagationmethod", selectedPropagationMethods);
			}
			else {
				searchParams.delete("propagationmethod");
			}

			if (selectedCertifications[0] != "any") {
				searchParams.set("certification", selectedCertifications);
			}
			else {
				searchParams.delete("certification");
			}

			history.pushState({}, document.title, (searchParams == "" ? window.location.pathname : "?") + searchParams);
		}
		
		$(document).ready(parseSearchParams());
	</script>
{% endblock %}
