/* ========== MATERIAL ICONS ========== */
/* https://google.github.io/material-design-icons/#icon-font-for-the-web */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../static/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
		local('MaterialIcons-Regular'),
		url(../static/MaterialIcons-Regular.woff2) format('woff2'),
		url(../static/MaterialIcons-Regular.woff) format('woff'),
		url(../static/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}
/* ==================================== */

body {
	display: flex;
	flex-direction: column;
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	min-height: 100vh;
	scroll-behavior: smooth;
}

.searchResult-synonym {
	font-size: 85%;
	font-style: italic;
}

.--noUnderline {
	text-decoration: none;
}

.--underline {
	text-decoration: underline;
}

.--flipOnNightMode {
	transition: transform 0.5s;
	transition: rotate(0deg);
}

.--hideOnLarge {
	display: none;
}

.--hideOnSmall {
	display: initial;
}

.--noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	     -moz-user-select: none; /* Firefox */
	      -ms-user-select: none; /* Internet Explorer/Edge */
	          user-select: none; /* Non-prefixed version, currently
	                                supported by Chrome and Opera */
}

.--email {
	unicode-bidi:bidi-override;
	direction: rtl;
}

.navIcon {
	display: none;
}

a {
	color: inherit;
}

header, footer, .page {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding: 0.5em;
}

header {
	align-items: center;
	background-color: #7D9F35;
	display: flex;
	justify-content: space-between;
	padding-top: 0;
	padding-bottom: 0;
	height: 6em;
}

header div.title {
	color: #F7F7F7;
	display: inline-block;
	font-size: 36px;
	font-weight: bold;
	line-height: 100%;
	margin: 0;
	padding: 0;
	padding-bottom: 0.2em;
}

header div.title a {
	color: inherit;
	text-decoration: none;
}

header nav {
	max-width: 25em;
	width: calc(100vw - 8vh - 20px - 1em);
}

header nav ul {
	align-items: center;
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav ul li {
	color: #F7F7F7;
	display: inline;
	padding: 0;
}

header nav ul li a {
	color: inherit;
}

.introduction {
	font-family: 'Noto Serif', sans-serif;
}

.toggleButton {
	display: inline-flex;
}

.toggleButton, .menuButton, .closeMenuButton {
	align-items: center;
	background-color: #C2DB92;
	border: 3px solid #436200;
	box-sizing: border-box;
	color: #436200;
	border-radius: 30%;
	min-height: 3em;
	height: 3.5em;
	max-height: 8vh;
	justify-content: center;
	min-width: 3em;
	width: 3.5em;
	max-width: 8vh;
	position: absolute;
	right: 0.5em;
}

.toggleButton .material-icons, .menuButton .material-icons, .closeMenuButton .material-icons {
	font-size: 200% !important;
}

.menuButton, .closeMenuButton {
	display: none;
}

.toggleButton:hover, .menuButton:hover, .closeMenuButton:hover {
	border-color: #872D62;
	color: #872D62;
	cursor: pointer;
}

.footer {
	align-items: center;
	background-color: #C2DB92;
	color: #182500;
	display: flex;
	flex-flow: row wrap;
	font-size: 90%;
	min-height: 2.5em;
	justify-content: center;
	width: 100%;
}

.footer-element {
	display: block;
	flex: 1;
	flex-basis: 100%;
	text-align: center;
}

.page {
	background-color: #F7F7F7;
	color: #192500;
	flex: 1;
	padding-bottom: 0.5em;
	overflow: auto;
}

.page a {
	color: #872D62;
}

.page a:hover {
	color: #BB7DA1;
}

.page a.--inheritColour,
.page a.--inheritColour:hover {
	color: inherit;
}

.page h1, .page h2, .page h3 {
	color: #436200;
}

.page h1 {
	font-size: 1.8em;
	margin-top: 0.1em;
	margin-bottom: 0.2em;
}

.page h2 {
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0;
}

.page h2 a {
	text-decoration: none;
}

.page h3 {
	font-size: 1.2em;
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}

.page p.none {
	font-style: italic;
}

.page p, .page ul {
	font-family: 'Noto Serif', serif;
	line-height: 140%;
	margin-top: 0.2em;
	margin-bottom: 0.8em;
}

.page-coverageContainer {
	align-content: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.page-coverageContainer-plantCoverageBox {
	border: 2px solid #7D9F35;
	display: block;
	flex: 1;
	flex-basis: 19%;
	font-family: 'Noto Sans', sans-serif;
	min-width: 11em;
	margin: 0.25em;
	text-decoration: none;
}

.page-coverageContainer-plantCoverageBox:not([open]) {
	border: 2px solid inherit;
	max-height: calc(3em + 4px);
}

.page-coverageContainer-plantCoverageBox:not([open]) .page-coverageContainer-plantCoverageBox-fullLine {
	max-height: 100%;
}

.page-coverageContainer-plantCoverageBox:hover {
	border-color: #C4DC93;
}

.page-coverageContainer-plantCoverageBox:hover .page-coverageContainer-plantCoverageBox-fullLine {
	background-color: #C4DC93;
}

.page-coverageContainer-plantCoverageBox-table {
	margin-left: auto;
	margin-right: auto;
}

.page-coverageContainer-plantCoverageBox-fullLine {
	align-items: center;
	background-color: #7D9F35;
	display: flex;
	font-size: 1.1em;
	font-weight: bold;
	justify-content: center;
	height: 3em;
	max-height: 100%;
	text-align: center;
	width: 100%;
}

.page-coverageContainer-plantCoverageBox-line .material-icons {
	font-size: 120% !important;
	line-height: 0% !important;
}

.page-coverageTable {
	border-collapse: collapse;
}

.page-coverageTable td {
	border: 1px solid #000000;
	padding: 0.25em;
}

.page-genusList {
	align-content: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.page-genusList-blockContainer {
	background-color: #7D9F35;
	display: block;
	flex: 1;
	flex-basis: 19%;
	font-family: 'Noto Sans', sans-serif;
	height: 10em;
	min-width: 11em;
	margin: 0.25em;
}

.page-genusList-blockContainer-block {
	background-position: center;
	background-size: cover;
	color: #FFFFFF;
	display: block;
	height: 100%;
	position: relative;
	text-decoration: none;
}

.page-genusList-blockContainer-block:hover {
	text-decoration: underline;
	text-decoration-color: #FFFFFF;
}

.page-genusList-blockContainer-block-name {
	background-color: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	color: #FFFFFF;
	display: block;
	padding: 0.5em;
	position: absolute;
	width: 100%;
}

.page-genusList-blockContainer-block-count {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	box-sizing: border-box;
	color: #FFFFFF;
	font-style: italic;
	padding: 0.25em;
	position: absolute;
	right: 0;
}

.page-genusList-blockContainer-block-thumbnail {
	position: absolute;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.page-genusSpecies, .page-genusHybrids {
	clear: both;
}

.page-glossaryListsContainer {
	column-count: 3;
	column-width: 200px;
	column-rule: 1px solid rgba(25,37,0,0.25);
}

.page-glossaryListWrapper {
	page-break-inside: avoid; /* Firefox */
	     break-inside: avoid;
}

.page-glossaryChar-anchor {
	text-decoration: none;
}

.page-glossaryQuickLinksBar {
	display: none;
}

.page-imageBox {
	box-sizing: border-box;
	clear: both;
	float: right;
	width: 25vw;
	min-width: 20em;
	max-width: 100%;
}

.page-imageBox-thumbnailContainer {
	height: 18em;
	overflow: hidden;
	position: relative;
}

.page-imageBox-thumbnailContainer-description {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	box-sizing: border-box;
	color: white;
	display: block;
	float: right;
	left: 0;
	padding: 0.5em;
	position: absolute;
	transform: translateY(0);
	transition: transform 0.3s;
	width: 100%;
}

.page-imageBox-thumbnailContainer-thumbnail {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.page-imageBox-thumbnailContainer:not(:hover) .page-imageBox-thumbnailContainer-description {
	transform: translateY(100%);
}

.page-searchGroup {
	border: none;
	border-top: 1px solid #436200;
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
	padding-top: 0.25em;
}

.page-searchGroup-legend {
	color: #436200;
	font-size: 1.2em;
	font-weight: bold;
}

.page-searchGroup-item {
	display: inline-block;
	line-height: 175%;
}

.page-searchGroup-item-label {
	margin-left: 0;
	margin-right: 1em;
}

.page-topAnchor {
	top: 0;
	position: absolute;
}

.page-siblingsList {
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	text-align: center;
	width: 100%;
}

.page-siblingsList-sibling {
	display: inline;
	font-family: 'Noto Sans', sans-serif;
	font-size: 90%;
}

.page-siblingsList-sibling--active {
	font-weight: bold;
}

.page-siblingsList-sibling:not(:last-child)::after {
	content: " | ";
	font-weight: normal;
}

.page-statusList {
	align-content: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.page-statusList-blockContainer {
	background-color: #7D9F35;
	display: block;
	flex: 1;
	flex-basis: 15%;
	font-family: 'Noto Sans', sans-serif;
	height: 7em;
	min-width: 8.5em;
	margin: 0.25em;
}

.page-statusList-blockContainer-block {
	align-items: center;
	color: #FFFFFF;
	display: flex;
	height: 100%;
	justify-content: center;
	position: relative;
	text-decoration: none;
}

.page-statusList-blockContainer-block:hover {
	text-decoration: underline;
	text-decoration-color: #000000;
}

.page-statusList-blockContainer-block-name {
	box-sizing: border-box;
	color: #000000;
	display: block;
	font-size: 110%;
	margin-bottom: 0.25em;
	padding: 0.1em;
	text-align: center;
}

.page-statusList-blockContainer-block-count {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	box-sizing: border-box;
	color: #FFFFFF;
	font-style: italic;
	padding: 0.25em;
	position: absolute;
	right: 0;
}

.page-zoneList {
	align-content: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.page-zoneList-blockContainer {
	background-color: #7D9F35;
	display: block;
	flex: 1;
	flex-basis: 15%;
	font-family: 'Noto Sans', sans-serif;
	height: 7em;
	min-width: 8.5em;
	margin: 0.25em;
}

.page-zoneList-blockContainer-block {
	align-items: center;
	color: #FFFFFF;
	display: flex;
	height: 100%;
	justify-content: center;
	position: relative;
	text-decoration: none;
}

.page-zoneList-blockContainer-block:hover {
	text-decoration: underline;
	text-decoration-color: #000000;
}

.page-zoneList-blockContainer-block-name {
	box-sizing: border-box;
	color: #000000;
	display: block;
	font-size: 130%;
	margin-bottom: 0.25em;
}

.page-zoneList-blockContainer-block-count {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	box-sizing: border-box;
	color: #FFFFFF;
	font-style: italic;
	padding: 0.25em;
	position: absolute;
	right: 0;
}

.plant-content p:first-child {
	margin-top: 0;
}

.plant-content-gallery-image {
	cursor: pointer;
	height: 10em;
	margin: 0.25em;
	object-fit: cover;
	width: 10em;
}

.plant-info {
	background-color: #E6E6E6;
	box-sizing: border-box;
	clear: both;
	float: right;
	margin-left: 0.75em;
	margin-bottom: 0.5em;
	width: 25vw;
	min-width: 20em;
	max-width: 100%;
}

.plant-info-thumbnailContainer {
	height: 18em;
	overflow: hidden;
	padding: 0.5em;
	padding-bottom: 0;
	position: relative;
}

.plant-info-thumbnailContainer-description {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	box-sizing: border-box;
	color: white;
	display: block;
	float: right;
	left: 0;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0.5em;
	position: absolute;
	transform: translateY(0);
	transition: transform 0.3s;
	width: calc(100% - 1em);
}

.plant-info-thumbnailContainer:not(:hover) .plant-info-thumbnailContainer-description {
	transform: translateY(100%);
}

.plant-info-thumbnailContainer-thumbnail {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.plant-info-table {
	padding: 0.5em;
	table-layout: fixed;
	width: 100%;
}

.plant-info-table-row {
	width: 100%;
}

.plant-info-table-row td {
	width: 50%;
}

.plant-info-table-row td:first-child {
	text-align: right;
}

.--plantGalleryInterface {
	background-color: rgba(0, 0, 0, 0.75);
}

.plant-gallery {
	align-items: center;
	background-color: #000000;
	color: #FFFFFF;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	visibility: hidden;
}

.plant-gallery-backButtonContainer,
.plant-gallery-forwardButtonContainer {
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	min-height: 10.5em;
	height: 24vh;
	position: absolute;
	min-width: 3.5em;
	width: 8vh;
}

.plant-gallery-backButtonContainer {
	float: left;
	left: 0;
}

.plant-gallery-forwardButtonContainer {
	float: right;
	right: 0;
}

.plant-gallery-backButtonContainer:hover,
.plant-gallery-forwardButtonContainer:hover {
	background-color: #FFFFFF;
	color: #000000;
}

.plant-gallery-descriptionContainer {
	align-items: center;
	bottom: 0;
	box-sizing: border-box;
	display: flex;
	min-height: 3em;
	justify-content: center;
	left: 0;
	padding: 0.5em;
	position: absolute;
	text-align: center;
	width: 100vw;
}

.plant-gallery-imagesContainer-imageContainer {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

.plant-gallery-imagesContainer-imageContainer-image {
	max-height: 100%;
	max-width: 100%;
}

.plant-gallery-topBar {
	align-items: center;
	display: flex;
	float: left;
	min-height: 3.5em;
	height: 8vh;
	justify-content: flex-end;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.plant-gallery-topBar-item {
	align-items: center;
	cursor: pointer;
	display: inline-flex;
	height: 100%;
	justify-content: center;
	min-width: 3.5em;
	width: 8vh;
}

.plant-gallery-topBar-item:hover {
	background-color: #FFFFFF;
	color: #000000;
}

.hardinessBlock {
	color: #000000;
	height: 0;
	padding-bottom: 2em;
	width: 2em;
}

.hardinessBlock .hardinessBlock-inner {
	height: 0;
	line-height: 2em;
	padding-bottom: 2em;
	position: absolute;
	text-align: center;
	width: 2em;
}

.hardinessBlock * {
	color: initial;
}

.hardinessBlock--0	{	background-color: #dddddd; }
.hardinessBlock--1a {	background-color: #d7d6fe; }
.hardinessBlock--1b {	background-color: #c3c4f2; }
.hardinessBlock--2a {	background-color: #aaabd9; }
.hardinessBlock--2b {	background-color: #ebafeb; }
.hardinessBlock--3a {	background-color: #e091ec; }
.hardinessBlock--3b {	background-color: #ce7dda; }
.hardinessBlock--4a {	background-color: #a66cff; }
.hardinessBlock--4b {	background-color: #5b75ee; }
.hardinessBlock--5a {	background-color: #73a1ff; }
.hardinessBlock--5b {	background-color: #5fc9e1; }
.hardinessBlock--6a {	background-color: #48ba48; }
.hardinessBlock--6b {	background-color: #78c656; }
.hardinessBlock--7a {	background-color: #abd66a; }
.hardinessBlock--7b {	background-color: #cedb71; }
.hardinessBlock--8a {	background-color: #ecda84; }
.hardinessBlock--8b {	background-color: #eacb57; }
.hardinessBlock--9a {	background-color: #dbb64e; }
.hardinessBlock--9b {	background-color: #f6b678; }
.hardinessBlock--10a {	background-color: #eb9c37; }
.hardinessBlock--10b {	background-color: #e6791e; }
.hardinessBlock--11a {	background-color: #e7561f; }
.hardinessBlock--11b {	background-color: #e88565; }
.hardinessBlock--12a {	background-color: #d45a4f; }
.hardinessBlock--12b {	background-color: #b65028; }
.hardinessBlock--13a {	background-color: #ab702e; }
.hardinessBlock--13b {	background-color: #c3915e; }

.statusBlock {
	color: #000000;
	height: 0;
	padding-bottom: 2em;
	width: 2em;
}

.statusBlock * {
	color: initial;
}

.statusBlock .statusBlock-inner {
	height: 0;
	line-height: 2em;
	padding-bottom: 2em;
	position: absolute;
	text-align: center;
	width: 2em;
}

.statusBlock--ex {
	background-color: #000000;
	color: #cc3333;
	text-decoration-color: #cc3333;
}

.statusBlock--ew {
	background-color: #000000;
	color: #ffffff;
	text-decoration-color: #ffffff;
}

.statusBlock--cr {
	background-color: #cc3333;
	color: #ffcccc;
	text-decoration-color: #ffcccc;
}

.statusBlock--en {
	background-color: #cc6633;
	color: #ffcc99;
	text-decoration-color: #ffcc99;
}

.statusBlock--vu {
	background-color: #cc9900;
	color: #ffffcc;
	text-decoration-color: #ffffcc;
}

.statusBlock--nt {
	background-color: #006666;
	color: #99cc99;
	text-decoration-color: #99cc99;
}

.statusBlock--lc {
	background-color: #006666;
	color: #ffffff;
	text-decoration-color: #ffffff;
}

.statusBlock--dd {
	background-color: #dddddd;
}

.statusBlock--ne {
	background-color: #dddddd;
}

.statusBlock--unknown {
	background-color: #dddddd;
}

@media (min-width:481px) {
	.--hideOnLarge {
		display: none;
	}
}

@media (max-width:480px)  {

	.menuButton, .closeMenuButton {
		display: inline-flex;
	}

	.--hideOnSmall {
		display: none;
	}

	body .closeMenuButton, body .toggleButton {
		display: none;
	}

	body.--hasJS .closeMenuButton, body.--hasJS .toggleButton:not(.--hideOnSmall) {
		display: inline-flex;
		font-size: initial;
		line-height: 100%;
	}
	
	.closeMenuButtonContainer {
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
		height: 3.5em;
		width: 100%;
		align-items: center;
	}

	.closeMenuButtonContainer .toggleButton {
		position: relative;
		top: 0;
		left: 0.5em;
	}

	body.--hasJS header {
		height: 4.5em;
	}

	body.--hasJS .navIcon {
		align-items: center;
		display: inline-flex;
		font-size: 200%;
		height: 1.5em;
		justify-content: center;
		width: 1.5em;
	}

	body.--hasJS .navIcon .material-icons {
		font-size: 120% !important;
	}

	body.--hasJS .nav {
		background-color: #7d9f35;
		display: block;
		font-size: 130%;
		height: 100%;
		left: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		position: fixed;
		top: 0;
		transition: left 0.5s;
		width: 100%;
		z-index: 1;
		padding-top: 3.5em;
	}

	body.--hasJS .nav.--open {
		left: 0;
		transition: left 0.5s;
	}

	body.--hasJS .nav li {
		height: 2em;
		padding: 0;
	}

	body.--hasJS .nav li a {
		align-items: center;
		display: flex;
	}

	.page-coverageTable {
		width: 100%;
	}

	.page-genusList-blockContainer {
		flex-basis: 45%;
		min-width: 10em;
	}

	.page-zoneList-blockContainer {
		flex-basis: 30%;
	}

	.page-imageBox, .plant-info {
		margin-bottom: 0.5em;
		margin-left: 0;
		width: 100%;
	}

	.toggleButton {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
	}

	header nav {
		max-width: 25em;
		width: calc(100vw - 1em);
	}

	.--hideOnSmallIfNoJS {
		display: none;
	}
}

@media screen and (max-width:480px) and (orientation:portrait) {
	.page--glossary *:not(.page-glossaryQuickLinksBar):not(.page-glossaryQuickLinksBar-item):not(.page-glossaryQuickLinksBar-item-anchor) {
		max-width: calc(90% - 0.5em);
	}

	.page-glossaryQuickLinksBar {
		align-items: center;
		background-color: #E6E6E6;
		display: flex;
		flex-direction: column;
		font-size: 110%;
		height: calc(100vh - 6em - 2.5em);
		justify-content: space-between;
		list-style: none;
		margin: 0;
		overflow-y: auto;
		padding: 0;
		position: fixed;
		right: 0.5em;
		top: 5em;
	}

	.page-glossaryQuickLinksBar-item {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		margin: 0;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	
	.page-glossaryQuickLinksBar-item-anchor {
		display: flex;
		height: 100%;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.page-glossaryQuickLinksBar-item-anchor-text {
		display: flex;
		justify-content: center;
		line-height: 100%;
		max-height: 100%;
		padding: 0.5em;
		padding-bottom: 0;
		text-align: center;
		width: 100%;
	}
}

.--showIfNoJS, .--showIfNoJS * {
	display: initial;
}

.--hideIfJS, .--hideIfJS * {
	display: none;
}

.--hide {
	display: none;
}

/* ================================
 * ========== NIGHT MODE ==========
 * ================================ */

body.nightMode .--flipOnNightMode {
	transform: rotate(180deg);
}

body.nightMode header {
	background-color: #7D9F35;
}

body.nightMode header div.title {
	color: #192500;
}

body.nightMode header div.title a {
	color: inherit;
}

body.nightMode header nav ul li {
	color: #192500;
}

body.nightMode header nav ul li a {
	color: inherit;
}

body.nightMode .toggleButton,
body.nightMode .menuButton,
body.nightMode .closeMenuButton {
	background-color: #436200;
	border-color: #C2DB92;
	color: #C2DB92;
}

body.nightMode .toggleButton:hover,
body.nightMode .menuButton:hover,
body.nightMode .closeMenuButton:hover {
	border-color: #BB7DA1;
	color: #BB7DA1;
}

body.nightMode footer {
	background-color: #436200;
	color: #C4DC93;
}

body.nightMode .page {
	background: #192500;
	color: #F7F7F7;
}

body.nightMode .page a {
	color: #BB7DA1;
}

body.nightMode .page a:hover {
	color: #E6E6E6;
}

body.nightMode .page a.--inheritColour,
body.nightMode .page a.--inheritColour:hover {
	color: inherit;
}

body.nightMode .page-coverageContainer-plantCoverageBox {
	border-color: #444444;
}

body.nightMode .page-coverageContainer-plantCoverageBox:hover {
	border-color: #666666;
}

body.nightMode .page-coverageContainer-plantCoverageBox:hover .page-coverageContainer-plantCoverageBox-fullLine {
	background-color: #666666;
}

body.nightMode .page-coverageContainer-plantCoverageBox-fullLine {
	background-color: #444444;
}

body.nightMode .page-coverageTable td {
	border-color: #FFFFFF;
}

body.nightMode .page-glossaryListsContainer {
	column-rule-color: rgba(247,247,247,0.25);
}

body.nightMode .page-glossaryQuickLinksBar {
	background-color: #444444;
}

body.nightMode .page-searchGroup {
	border-top-color: #7D9F35;
}

body.nightMode .page-searchGroup-legend {
	color: #7D9F35;
}

body.nightMode .page h1, body.nightMode .page h2, body.nightMode .page h3 {
	color: #7D9F35;
}

body.nightMode .plant-info {
	background-color: #444444;
}
